/* Overall */

html, body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #111;
  background-color: #222;
  padding: 10px 0 10px 0;
}

#content {
  width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

#brand {
  font-weight: 400;
  text-align: center;
  margin: 0;
}
#subtitle {
  color: #444;
  text-align: center;
}

a {
  color: #0074d9;
}

.description {
  padding: 10px;
  width: 600px;
  margin: auto;
}
.description ol {
  list-style: none;
  margin-left: 1em;
  padding-left: 1em;
  text-indent: -1em;
}
.description li::before {
  content: "♫ "
}

#output {
  width: 500px;
  margin: auto;
}

input[type="text"] {
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 20px;
  text-align: center;
  margin: auto;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}
.input-group {
  width: 300px;
  margin: auto;
  text-align: center;
  line-height: 3ex;
}

.alert{
  width: 400px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin: 20px auto;
  padding: 5px;
  border-radius: 4px;
}

#footer {
  font-size: small;
  text-align: center;
  margin: 25px 0 15px 0;
}

#output svg:hover {
  background-color: #efefef;
}